{% extends "base.html" %}

{% block content  %}
<div class="container">
   
    <div class="row mt-5 mb-5">
        <div class="col-lg-6 shadow p-4 shadow">
            <h3>Créer un compte</h3>
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Prénom </label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="prHelp" class="form-text"></div>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputEmail2" class="form-label">Nom </label>
                    <input type="email" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp">
                    <div id="nomHelp" class="form-text"></div>
                  </div>
                <div class="mb-3">
                  <label for="exampleInputEmail3" class="form-label">Email </label>
                  <input type="email" class="form-control" id="exampleInputEmail3" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text"></div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Repeat Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                  </div>
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">créez votre compte</button>
              </form>
       </div>
       <div class="col-lg-6">
        <img src="https://thumbs.dreamstime.com/b/h%C3%B4tel-10732347.jpg" alt="" class="img-fluid img-responsive">
       </div>
    </div>
</div>
{% endblock %}